{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body  >
    <header>
        <h1  class="text-4xl text-center text-indigo-700">Full Stack App</h1>
    </header>
    <main>
        <section>
            <h2>Python Django</h2>
            <p>Python Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.</p>
        </section>
        <section>
            <h2>React</h2>
            <p>React is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies.</p>
        </section>
        <section>
            <h2>PostgreSQL</h2>
            <p>PostgreSQL is a powerful, open source object-relational database system with over 30 years of active development that has earned it a strong reputation for reliability, feature robustness, and performance.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2020 Full Stack App</p>
    </footer>


    

</body>
</html>
